weecology-NeonTreeEvaluation-f5d92da
synthetic_nir_dev/NEON(BUST)/hyperspectral
synthetic_nir_dev/NEON(BUST)/rgb
synthetic_nir_dev/NAIP/raw
synthetic_nir_dev/NAIP/patches
synthetic_nir_dev/NAIP/debug
synthetic_nir_dev/NAIP/manifest.csv
synthetic_nir_dev/NAIP/splits.csv
synthetic_nir_dev/NAIP/__pycache__
milliontrees/TreeBoxes_supervised_v0.13
milliontrees/TreeBoxes_v0.13
*.pt
synthetic_nir_dev/NAIP/wandb
.claude/
*/__pycache__
sodev/2019_*
*/.DS_Store
so_images/
dataset_dev/2020weinstein_labels
dataset_dev/hyperspectral
dataset_dev/rgb
dataset_dev/teak_patches
.DS_Store
stace_labels/tiles/
stace_labels/good_images/
dataset_dev/ndvi_filter_visual/
dataset_dev/teak_patches_visual/
single_tiles_flat/deepforest_data/
dfft/